* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    margin-top:70px;
    max-width: 1000px;
}

.card {
    flex: 0 1 auto;
}

hr {
    margin:0 !important;
}

h5.card-title {
    font-size: 1.1rem;
}

.show-done > div.done {
    display: block !important;
}

.card-header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.card-header > h5 > i {
    display: none;
    font-size: 1.2em;
    line-height: 0;
}

h5.card-title {
    margin-bottom: 0;
    margin: .1em 0;
}

.card-actions > span {
    margin-right: 10px;
    font-size: 0.9em;
}

.card-actions > i {
    cursor: pointer;
    opacity: 0.8;
}

.card-actions > i:hover {
    opacity: 1;
}

.card-body {
    color:#444;
}


.datepicker {
    margin-top: 80px !important;
}

.form-control {
    border: none !important;
    border-radius: 0 !important;
    padding:0 !important;

}

.form-control:focus, .form-control:active {
    outline:0px !important;
    box-shadow: none !important;
}

.modal-footer {
    padding: 0 !important;
    padding-top: 1em !important;
    border: none !important;
}

.card:not(:last-child) {
    margin-bottom: 10px;
}


.input-group {
    border-bottom: 1px solid  #ced4da;
}

.input-group-text {
    border: none !important;
    background-color: #fff !important;

}